body {
  margin: 0;
}
header {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 128px;
  margin-right: 132px
}
.reachout {
  display: flex;
  align-items: center;
  gap: 22px;
}
.reachout a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.header-buttons {
  width: 193px;
  margin-left: 30px;
  height: 68px;
  background: transparent;
  border: 2px solid #B6B6B6;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
#first-segment {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-top: 182px;
  font-family: Roboto;
  font-style: normal;
}
#first-segment .first-text {
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #1A1A1A;
}
#first-segment .second-text {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  width: 624px;
  color: #1A1A1A;
}
#first-segment .third-text {
  width: 606px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #494949;
}
#first-segment img {
  width: 496px;
  height: 496px;
}

#second-segment {
  background-image: url(images/background.png);
  background-size: cover;
  font-family: Roboto;
  font-style: normal;
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 72px 0px;
  margin-bottom: 107px;
  color: white;
  justify-content: space-around;
}
#second-segment-first-text {
  margin-top: 114px;
}
#second-segment .second-segment-text {
  width: 687px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
#second-segment .second-segment-text-bold {
  font-weight: 500;
font-size: 36px;
line-height: 42px;
width: 426px;
}
#second-segment button {
  border-radius: 10px;
  width: 416px;
  height: 88px; 
  font-size: 24px;
  line-height: 28px;
  color: #161616;
}
footer {
 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:  center;
  gap: 32px
}
